body {
    font-family: 'coolvetica';
  }
  
  .black-bg {
    background-color: black;
  }
  
  .back-arrow img {
    margin-top: 40px;
    margin-left: -40px;
    padding-bottom: 30px;
    width: 70px;
  }
  
  h1 {
    color: white;
    margin-left: 80px;
    margin-top: 100px;
    padding-top: 20px;
    font-family: 'coolvetica';
  }
  
  .col p {
    color: white;
    font-family: 'coolvetica';
    font-size: 30px;
    font-weight: 300;
    text-align: center;
    margin-left: 40px;
    padding-top: 40px;
    z-index: 1;
    position: relative
  }
  
  .preview5 {
    width: 450px;
    margin-left: 70px;
    margin-top: 20px;
  }
  
  .preview6 {
    width: 450px;
    margin-left: 150px;
    margin-top: 20px;
  }
  
  .preview7 {
    width: 450px;
    margin-left: 230px;
    margin-top: 20px;
    padding-bottom: 20px;
  }
