.body{
    font-family: Arial, Helvetica, sans-serif;
}

.black-bg{
  background-color: black;
}
  
.back-arrow img {
  margin-top: 40px;
  margin-left: -40px;
  padding-bottom: 30px;
  width: 70px;
}

  .image {
    position: relative;
    overflow: hidden;
  }
  
  .image img {
    width: 800px;
    height: auto;
    transition: transform 0.3s ease;
    padding-bottom: 30px;
    margin-left: 350px;
  }
  
  .image:hover img {
    transform: scale(1.1); /* Zoom effect on hover */
  }
  
  .header {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0);
    text-align: center;
    margin-left: 575px;
    transform: translateY(100%);
    transition: transform 0.3s ease;
}

.header h2{
    color: white;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .image:hover .header {
    transform: translateY(0);
  }