* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  -webkit-transform: translate3d(0, 0, 0);
}

.black-bg {
  background-color: black;
}

.back-arrow img {
  margin-left: 40px;
  padding-top: 20px;
  width: 100px;
}

/* headline animation css*/

.contact-list div {
  display:inline-block;
  overflow:hidden;
  white-space:nowrap;
  padding-left: 140px;
}

.contact-list {
  padding-top: 300px;
  font-weight: 500;
  font-size: 50px;
}

.contact-list li{
  list-style: none;
}

.contact-list div:first-of-type {
  animation: showup 15s infinite;
}

.contact-list div:last-of-type {
  width:0px;
  animation: reveal 7s infinite;
}

.contact-list div:last-of-type span {
  margin-left:-355px;
  animation: slidein 7s infinite;
}

@keyframes showup {
    0% {opacity:0;}
    20% {opacity:1;}
    80% {opacity:1;}
    100% {opacity:0;}
}

@keyframes slidein {
    0% { margin-left:-800px; }
    20% { margin-left:-800px; }
    35% { margin-left:0px; }
    100% { margin-left:0px; }
}

@keyframes reveal {
    0% {opacity:0;width:0px;}
    20% {opacity:1;width:0px;}
    30% {width:800px;}
    80% {opacity:1;}
    100% {opacity:0;width:800px;}
}
