* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html body {
  font-family: 'Arimo', Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
}

.scroll-bar {
  position: fixed;
  top: 0;
  left: 0;
  height: 4px;
  width: 0%;
  background-color: red;
  z-index: 9999;
}

/* navigation bar */

.navbar {
  background-color: rgba(255, 255, 255, 0.7);
  /* white with opacity */
  backdrop-filter: blur(10px);
  /* glass effect */
  -webkit-backdrop-filter: blur(10px);
  /* Safari support */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  /* subtle depth */
  z-index: 1000;
}

.navbar-brand {
  padding-left: 30px;
}

.nav-link {
  position: relative;
  margin-right: 80px;
  font-weight: 200;
  display: inline-block;
  font-size: 30px;
  color: black;
}


.nav-link b {
  font-weight: 900;
}

/* underline */
.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 5px;
  width: 0%;
  height: 3px;
  background-color: red;
  transition: width 0.3s ease;
}

/* hover effect */
.nav-link:hover::after {
  width: 100%;
}

.code {
  font-size: 30px;
  color: hsl(0, 0%, 0%);
}

.code:hover {
  cursor: default;
}

ul {
  padding: 0;
  margin: 0;
}

/* span image under navigation row */
.hero-image {
  width: 100%;
  height: 390px;
  margin-top: 80px;
  padding-bottom: 30px;
  overflow: hidden;
}

@media (max-width: 768px) {
  .hero-image {
    height: auto;
  }

  .hero-image img {
    height: auto;
    object-fit: contain;
    padding-top: 40px;
  }
}

.hero-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* keeps it looking good on all screens */
  display: block;
}


/* projects */

.hero-text {
  color: black;
  padding-top: 20px;
  padding-left: 20px;
  font-weight: 700;
  font-size: 40px;
}

.project-img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 15px;
  transition: transform 0.3s ease;
}

/* hover effect (optional but looks good) */
.project-img:hover {
  transform: scale(1.03);
}

.newest-section {
  margin-top: 60px;
}

.section-title {
  font-size: 40px;
  font-weight: 700;
  color: black;
  font-family: 'Arimo', Helvetica, Arial, sans-serif;
  font-style: normal;
}

p {
  color: black;
  font-family: 'Arimo', Helvetica, Arial, sans-serif;
}

.newest-img {
  width: 100%;
  height: auto;
  border-radius: 15px;
}

@media (max-width: 768px) {
  .project-img {
    width: 100%;
    height: 100px;
    object-fit: cover;
    border-radius: 10px;
  }
}

@media (max-width: 768px) {

  .container newest-section mt-5 .row,
  .container thesis-section mt-5 .row {
    margin-top: 10px !important;
  }

  .section-title {
    font-size: 26px;
    margin-bottom: 5px;
  }

  .container thesis-section mt-5 .img-fluid newest-img {
    padding-top: -25px;
  }

}

/* bottom text before footer */

.subtitle {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
}

.top-line {
  display: block;
  color: #ff3333;
  font-style: italic;
  font-size: 45px;
  /* bigger */
  font-weight: 100;
}

.bottom-line {
  display: block;
  font-weight: 700;
  font-size: 42px;
  /* strong + clear */
  color: black;
  margin-top: -30px;
}

@media (max-width: 768px) {

  .section-title {
    font-size: 17px;
  }

  .newest-section p,
  .thesis-section p {
    font-size: 14px;
  }

}

/* brand logos section*/
.brands h1 {
  font-size: 40px;
  font-family: 'Arimo', Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-style: normal;
}

.brands {
  width: 100%;
  padding: 60px 20px;
  text-align: center;
}

.brands-title {
  font-size: 24px;
  text-align: left;
  padding-left: 130px;
  margin-bottom: 40px;
  color: black;
}

@media (max-width: 768px) {
  .brands-title {
    padding-left: 20px;
  }

  .brands h1 {
    font-size: 20px;
  }
}

.brands-logos {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  flex-wrap: wrap;
}

.brand-logo {
  height: 50px;
  /* default size */
  width: auto;
  object-fit: contain;
}

@media (max-width: 768px) {

  .subtitle {
    font-size: 16px;
    line-height: 1.4;
  }

  .top-line,
  .bottom-line {
    display: block;

  }

  .top-line {
    font-size: 18px;
    font-style: italic;
  }

  .bottom-line {
    font-size: 18px;
    margin-top: -10px;
  }

}

.logo-2 {
  height: 30px;
}

.logo-3 {
  height: 100px;
}

.logo-6 {
  height: 100px;
}

.logo-8 {
  height: 90px;
}

.logo-5 {
  height: 90px;
}

@media (max-width: 768px) {
  .brands-logos {
    gap: 30px;
  }

  .brand-logo {
    height: 35px;
  }
}

/* back to top link */

.back-to-top {
  position: fixed;
  bottom: 30px;
  right: 30px;

  background-color: white;
  color: black;
  padding: 12px 18px;
  border-radius: 30px;

  text-decoration: none;
  font-size: 14px;
  font-weight: 500;

  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;

  opacity: 0;
  /* hidden by default */
  pointer-events: none;
  /* not clickable */
}

/* visible state */
.back-to-top.show {
  opacity: 1;
  pointer-events: auto;
}

/* footer */

.footer-image {
  width: 100%;
}

.footer-image img {
  width: 100%;
  height: auto;
  display: block;
}