* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #000000;
  }
  
  /* navigation bar */

nav .navigation-bar{
    margin-left: 400px;
  }
  
  .navigation-bar {
    padding-top: 10px;
    /* to adjust the navigation bar at the bottom, in my own specific preference */
    text-align: center;
    font-size: 23px;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .navigation-bar a {
    color: white;
    text-decoration: none;
    position: relative;
  }
  
  .navigation-bar .row{
    display: flex;
  }
  
  .navigation-bar .row .col{
    padding: 30px;
    align-items: center;
  }
  
  /* text underline animation */
  .navigation-bar a:before {
    content: ' ';
    position: absolute;
    height: 3px;
    width: 0%;
    bottom: 0;
    left: 0;
    background: #ff3333;
    transition: all 0.4s ease;
  }
  
  .navigation-bar a:hover:before{
    width: 100%;
    top: 25px;
  }

    /* image grid design*/
  
  .gallery-image {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .gallery-image img {
    height: 300px;
    width: 300px;
    transform: scale(1.0);
    transition: transform 0.4s ease;
  }
  
  .img-box {
    box-sizing: content-box;
    margin: 10px;
    height: 300px;
    width: 300px;
    overflow: hidden;
    display: inline-block;
    color: white;
    position: relative;
    background-color: white;
  }
  
  .caption {
    position: absolute;
    bottom: 5px;
    left: 20px;
    opacity: 0.0;
    transition: transform 0.3s ease, opacity 0.3s ease;
    color: white;
  }

  .caption p{
    font-weight: 700;
  }
  
  .transparent-box {
    height: 300px;
    width: 300px;
    background-color:rgba(0, 0, 0, 0);
    position: absolute;
    top: 0;
    left: 0;
    transition: background-color 0.3s ease;
  }
  
  .img-box:hover img { 
    transform: scale(1.1);
  }
  
  .img-box:hover .transparent-box {
    background-color:rgba(0, 0, 0, 0.5);
  }
  
  .img-box:hover .caption {
    transform: translateY(-20px);
    opacity: 1.0;
  }
  
  .img-box:hover {
    cursor: pointer;
  }
  
  .caption > p:nth-child(2) {
    font-size: 0.8em;
  }
  
  .opacity-low {
    opacity: 0.5;
  }