* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html body {
  font-family: 'Arimo', Helvetica, Arial, sans-serif;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
}

.scroll-bar {
  position: fixed;
  top: 0;
  left: 0;
  height: 4px;
  width: 0%;
  background-color: red;
  z-index: 9999;
}

/* navigation bar */

.navbar {
  background-color: rgba(255, 255, 255, 0.7);
  /* white with opacity */
  backdrop-filter: blur(10px);
  /* glass effect */
  -webkit-backdrop-filter: blur(10px);
  /* Safari support */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  /* subtle depth */
  z-index: 1000;
}

.navbar-brand {
  padding-left: 30px;
}

.nav-link {
  position: relative;
  margin-right: 80px;
  font-weight: 200;
  display: inline-block;
  font-size: 30px;
  color: black;
}

.nav-item .nav-link {
  font-family: 'Arimo', Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  position: relative;
  margin-right: 80px;
  display: inline-block;
  font-size: 30px;
  color: black;
}

.nav-link b {
  font-weight: 900;
}

/* underline */
.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 5px;
  width: 0%;
  height: 3px;
  background-color: red;
  transition: width 0.3s ease;
}

/* hover effect */
.nav-link:hover::after {
  width: 100%;
}

.code {
  font-size: 30px;
  color: hsl(0, 0%, 0%);
}

.code:hover {
  cursor: default;
}

ul {
  padding: 0;
  margin: 0;
}

/* image grid design*/

/* wrapper */
.project-card {
  position: relative;
  display: block;
  overflow: hidden;
  border-radius: 15px;
  text-decoration: none;
  color: inherit;
}

/* image */
.project-img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  display: block;
  transition: transform 0.3s ease;
}

/* overlay layer */
.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.7);

  display: flex;
  align-items: flex-end;
  /* pushes text to bottom */
  padding: 20px;

  opacity: 0;
  transition: opacity 0.3s ease;
}

/* text */
.project-title {
  color: white;
  font-weight: 700;
  font-size: 18px;
}

/* hover effects */
.project-card:hover .overlay {
  opacity: 1;
}

.project-card:hover .project-img {
  transform: scale(1.05);
}

/* back to top link */

.back-to-top {
  position: fixed;
  bottom: 30px;
  right: 30px;

  background-color: white;
  color: black;
  padding: 12px 18px;
  border-radius: 30px;

  text-decoration: none;
  font-size: 14px;
  font-weight: 500;

  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;

  opacity: 0;
  /* hidden by default */
  pointer-events: none;
  /* not clickable */
}

/* visible state */
.back-to-top.show {
  opacity: 1;
  pointer-events: auto;
}

/* footer */

.footer-image {
  width: 100%;
  padding-top: 100px;
}

.footer-image img {
  width: 100%;
  height: auto;
  display: block;
}